body {
    font-family: arial;
margin :0;
}

.container {
    position:relative; 
    margin : auto;
    width:100% ; height: 160px;
    background-color:rgb(7, 6, 6);
    background-size: cover;
    border-radius:5px;
    overflow: hidden;

}



 

.informations-bar {
position: absolute;
bottom: 0px;
width: 100%;
height: 55px;
background-color: rgb(11, 0, 32);
}
.profil {
    position:absolute;
    display:flex;align-items : center;
    bottom: 0px;left:15px;
}

.profil img {
    width: 150px;height: 150px ;
    border-radius: 50%;
    border: 3px solid rgb(204, 122, 210) ;
}
ul {
   
    width: 100%;
    display: flex;
    padding-left: 200px;
    height: 100%; margin: auto; 

}
li {

    
    list-style: none;
    cursor: pointer;
    font-size: 1.1em;
    padding: 1.5em  1em;
}
li:hover, .active {
    color:rgb(205, 233, 233);
    border-bottom: 3px solid #1488fa ;
}
.name {
    color: rgb(185, 148, 213);
    margin-left: 1.5em;
    font-size: 1em;
    font-size: 1.5em;
}
#contenupricipal{  
    color:rgb(252, 247, 252);
    font-size :20px;
    background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAoHCBUVFRIUEhUSGBUaGBgYGBgaGBISGBkaGRUZGRgcGBgcIS4lHB4rHxgYJjgmKy8xNTU1GiQ7QDs0Py40NTEBDAwMEA8QHxISHjQsJCs6NTQ0NDQ0NDQ2NDE0NDQ0NDE0NDQ0NDQ0NDQ2NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NDQ0NP/AABEIALcBEwMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAAAgEDBAUGB//EADwQAAEDAgMGAwUHAwUBAQEAAAEAAhEDIRIxQQRRYXGBkSKhsQUywdHwE0JSYnKS4RSisiMzgsLSY/EG/8QAGQEAAwEBAQAAAAAAAAAAAAAAAAEDAgQF/8QAJhEAAgICAgEEAgMBAAAAAAAAAAECEQMhEjFBBBNRYSJxgaHwMv/aAAwDAQACEQMRAD8A+PIUkIXUYIQhCABCEIAEIUoAhClTCAFUqYRCBEITQiEBYqITIToLFhEJkICxYQmQigsVCZEIoLFUJoRCQCoTQohAyEKUIAhClQgAQhSgCEIQgAQhCANW1VWlxLWtAmwy9IWfEN3mVCITbcnYkqVE23HuPkmawHKew+agNjPsmcYt9Dgn+wIwDKZ5A3XQ9sez2Ufsw15cSyXSIwuBLSB1aRwhLszRTb9rMuP+2IiCPef/AMTYcb/dS1hiosOrXuaeTwHN82v7rSj+LdGW3fejDCmEIhYodghShOgIhEJgEQnQrFhSphEIoLIQmhEIoLFRCaEQigsWEJoRCKCxUKYRCKCxYRCaEQigsWEJoUhifEYkKIVuBQWJcTVMrhTTplxAAkmwCktUtcQQRY70q3sWyHUy0kOBBFiFr/oH4PtMLsMxMHDO6cpWcEuJJPEkr0LttcKDtnEjC1ryIBuXSWmf1MJ3FrlfFGDuyWSUlVfyeZcEqte4HMRy+SXDuv69lCS3oqhEIQsjLhS1080xbuEDfr3V2ye9OfDOV6nbPYjKdAVg4l0NMHCW3IEC0yJ13LtxYFKNnNl9QsclF+dI8cW4efp/Kt2OgHE4iQ1oxOIiQMoE/eJgDmpqUiXYWgkkgAZkk6eaurkACkwgtaZc4ZOfFyDq0CQOp+8oPH+XEtdoq2mqXmYjKGjJrRZrRwA75q7YxiZWbvaHjm1w/wCrndlkJlavZ0faMBycSw8ngsJ6B09FRx1oRihEKyo0g3EHUccj5gpIUqHZEKYTQiE+IrIhEJgFa6iQASIBmOi0osVlTQrdpLSfAHBsDMgmYvpvlJCITS1QvsSFMJ8KMKOIWJCITQiEuIWLCiE8IhHEdiQiE8IhFBZXCkNTQrGMRxHHYUackBdB2xjDIjlkQs9Jl10djrAOBcLSOMZ6L0fSSxKLjNbfk3OMqteDkmlCU012toY173OY2Gn7sW4kDQJHbKOSmvQym3x6KJ/im1RxXsVWBdarsh0WCo3QLny4JY3UkZdPoNkYC6SPCwFzhvjIH9Ti1v8AyT7LUmoC4+8XNcf1gtJ/ulS9uFgbq84j+kSGDqcR/aspCko6JMWswjPMEg8xn9c1Ut23e9iOT2td1cPF2cHLO8jDEeJZjBSttpV/Zu9IrxHee5QlQpWxmyjXAy8J37+e7oupU2wtbSa4EtLPE0GQcT3OkaYgMJHIaLghdWpTGN5f7jA1rhPvFrQ1rRzLTfQAldEM0kqIyhFvZNVn2QJkFzx4CNGH7w3FwsBoMXBYmxhOeLyw/NbBV+2ljvfmWHITqwbgYsNCBvKxQQbhUiC++xYTC2WalzY5aKAFpILNXtJoL3uGRIeOVRod6nzWMBba3ibSM5tcw82ukf2uYOiz02yQCY4xPkpcd0FlacU99vXsmBj3R11/hWUKeJ3qVSMLdCboVlrgQBrqeE6dFa50iDkInqPgYXX2j2RFOm/E3C4kBoILhBElw0mVyCJc7jPzHoF0SwOBOORS6KHMiyiFe1siNdPkhlOZuLAm5Ay3bzwWPaNWUQiFbhRhS9sXIVtMkEjIZ5amOqSFZCIScB2VwiFZCIS4ByKoRCshGFHALEDVcxqhrFopN17c0+DK42ixjNO600aef1r/ACq6TVv2Zvp/KpCGzvxx0W0qKZ9Fa6TLJKi9rFJJUh5MXk5lVmfEELlOoYnhswJudzQJcegBPRdza2ObhLmuEgObIIlpNnNnNpjNcyoMLXnVxwD9IILj1OEfuXJ67jOKo5Hro520vxOLogHIbgBDR0AA6KgtV9QKH1JEQvOjCLT5Ovj7IS09C1hNNp1Y4t6OGJvm16yuuJ6H4LdswkVGfiYSP1M8Q8g4dViB7arinGpG4sRCktQsUaL9i2cvexgElzgO5ueQEnotPtHaQ5xDfcDnOGmJzjLnHnaNwAC6uy7H9l7v+4WPe78jG03PY39TiGk8MI1K8+Qup+nliezD72SAc1sqOxtx62DxpJydwnIxr+oLG0LRs78JxRIuCPxA5t/nSxzTRmiadIOBggRe/oDqkDD9EFXV6cEFp8Juw8J14giDxCXCqKgSbLWsJpPEHwva8aWcC13ngVTW+Kd9/L5z2WrYmmXNH3mOG64GNv8Acxo6qGk75ieM+E/Ge60obBJ7RmaxWARYdeKuAjQTyj0Uho3difjKvCFDcW/Aza7oNzYHzt8VnaIIPGVpDBGtzwOXbeFApg5Hy+Urody7J8EjO5kEjcUxbN+/zWmrRy8TTIGvQ+irFMj8PHxNEjunwRN9WUtpyodThaKjC08NFWbpuEXH7MWyjCjCrcKC1QljNciGUS4EiI4kBBoRmY6O+SkWyUxq0kbxJkfMKfALFbTb+I9B8yFfToNP4j0A+JS06h1g8wD6rsezmtJAc0dCQfiPJdOHCntksuRxVnOdsoH3XfuH/lNXY04SxuERGHO4z56L2HtX2ZSYxrmuMkaQ75LzI2bEXBrmxmCcTbhXUMc4NxRH03q+f5fBjprbQd8fQrGRe9jnz/lW0n3HNcjhTPfxZVVnQZWhJUrLIKiVz9//AOrcZyj0dDyJomrWJIkuIEDMmBOQnLW3FWe2q2zPcz7LG0BuE+GRnIF3SIkyQDMrE9+vQfFZHHT6lRyOTODLFSkpW1V9db+QdQB919M8MWA/3gKmrsr2iS10figlv7hZUvSse5plpc072ktPcLklJrtEq32W7PVwua7OCDG8A3HUWVW00cLnNzhxAO8TY9RB6q4bc/72F36mtcf3Ri81q/qWvjw0m1IaJcMTXQAAAXEhpiBex3hQlUhq0cvGeCFtftdRpINiNMDWx0hQs8X8hf0ejbt4LK73spOOG5wlhJfUYDJYRMjEvPOfQcScNRnJzXjsQPVIKhNJ0k+J7RHBjXE/5tVDWcPriunP6j3HUVSNum/g1jZ2RP2g5OY9vmzEEw2R7icOB/6HscejQZHZZWjWb8LlXU4vInna55fVlKMmLi1s1U6ZAwVGuaCZaXAtwuyzOhyPIHRVtYQS0iDlB0I3qKNZ7LNe9vAOcB2C3N2hz2yW03OHvSxsuE2dibDpFgb7jvVYyN8ZL9FOzOwOa/8AC4HsZPl6q3AGPqNiYLmjobKzEw+8yP0vI52cHFPtLmlwLMXutkugHEGhpiOUzxK6o9pgoW6aeyik4Mc1zmBwBBLTN4vBW7bzTdUqf6ZaMZHgcGjwnDMFpzibRmsf2cgzb60C27SPG/DYl7r63ce2atFJjlgXJPd0/In9G0tLg5wDYxSw2xG2ItJicrhVnZifdLCODg2ej4ceyYjOMvqEwYrKKMPG0tsrdsj8JJY4AakECDxPLzWeAMrnf8vmt7Krm2YS0axaVD6hNzhdvxNY4/uInzWuLOdqSu1o51xPnrPPeowg5WO7Tvp17rYSw5sj9LnD/LEq3UmHJz282hw6uBHoji/glIyOYRmowrYKJiA+m4bsRb2xBp7KH7G6JDHxyns4WKy/snZkc2CRb1Si1wmKRSkkaRawTlnu38vktuzOI4RqbQuc10EEZi6v2naHOIc43I7Rb+eqriycTMoctHVqbeIj3jvOXQa9eywVa5sSZJIJ/SDYfW4LM10nhry1Vb3ySfrgFV5E1SMwxKPRbjgkZwSFaxwMRnx16rLUNwd4B+fnK2/0rQ7CXk3GTJBGciXC0XUas6lk4oV5gkHPdu5qpz5TljPxv/Y3/wBo+zYBJe+9h/ptHP7/AE7ocSizqu9meo9Z3LYadP8AFU/awfFDWUv/AKd2D4FY4X4MvLrRlds5PiAMH11H1vCy1GQvb7BQoCk4va42EAkEgxkIAh2XkvI7aRKjnxR4t/BHFmc5NV0YCpq5np5CEFFTM8z6rypdHWi1ntGq0Boe4AZCVKzIWLHS+De+rgZSgCTjfpaXBn/RZnySZMq3bM6bfwsYOpbjP+Sq0Hb6+tE+Tao1CK7GaFeBkOv19aqpgVzDrrp81uJZIvwCx113T05eqvoFzTibFsgLzzGoic1Qw2G6I812tp2Og2jTcypjqkkOZBAHXX+F0xV7Kxx2qMrtlMB7QcBynMbweXmI3p204E5mYyPeE1Ct9xx8B4Cx0dyF7bk+EgkOFxnHw0XTGimOEun/AJFQYeK2V2eN3fylKxvEj63rXXpnFvBaywMm7Gn3c9VWL2Vlj2v0Yg2OJ8v5Q4Rz1+SvfSLcxB42juqS0b+11ZSJyxopISFXOI3dz8kYHETZrfxGGjoTd3ISVvnRx5IUUls8PIH5JMBJw5ncAXHoAnc9g3vPVjf/AE7+1U1dpcQRMNywt8II46u6yl7tdHHLHJjmm1vvujgIc79osOrgk/rg3/baGn8TvE7oDYdjzWR5SOym3x7KUsrfZF4kux61UuJc4lxJkkkkk8SlkQZJxWiwjjJ7LRQ2FzmPqAjCyJuAb5QMz0WIlScqBU9IaUzTII3X+B+HZUyrKDgHDFOHWN0QsKZqhiYHE+mnn6BImrxJI90m3LQHdZVYlVTQUXuf4Wi1idBOhzz1yWuhUxMJ+8xpHNjvC39pdHIjcueHWd0Pw+KfZq2E4onQjeCDiHUW6ran5E42i5okwh7wTwFhyT1mhswZDrtP5DcHmcuhCoaJVuXkxRo2zASPsg6IEzE4ovEaSqA7Dld2/dy48VDngWHU7/kErDEu3Zc9Pn0WXLdmktUaa1ctpOAP32jPUNeXHvh7Bcqs6b6H6K07Uf8ATYN73ns1gHqVkLpkAAZEZ5gXz35rzc+Vyk1ZbHBJWIzMcx6qslWMzHXyCrXFJ6LIhCfANfghYr7Av2501H7g4tHJpwjyASM1H1b6KQO3jzPxVlMCRpfoiK3opHSLWC319bk4Kh7bw0yByVmzUS4wrxi3LiuysZKuRdT+7zPlBKupnXX6krQz2ccMg7/MD4Ss2EyRuV3jlDsrinGXTNFNb6QxiPvtFvzNGnMek7gucxw5rZs9Q2IMQcx9XVIM611o6GzbPit5D46BdKtRw+JsGGsk5/cbAG/LPdNtUvsosc5lgGEmR+a8A8Nw6Xgrre1XNDAcLZkAC4m2sRoui6aRxZfXqOVY2ns85U2So4F7WPcLBzg1zgCbQSBY2WRzGj33D9LYeepBwjvPBadq21+F1MOIYXSWjwtJ0JaLE2N+C5j3I5OztdyXwO7aI9xoHE+N3c2HQA8VmqPJMkkneTJ7oe5UuchyOacUujo7LRoGjVc97hUEYWxIdvk6LkvchzlW5yxLKjmmiHlUuKlxVbioymc04jioYibJJSSolTc2yVFkqJSSolLmOi1r4+I0Klw1HUaj+OKplAdGSOYUW0zeN4I8recKRcAcSTyAF/VIHSQRmLxv5fJXVKcCNO1pmL5Z+S2pugov2d2JpabFsuafy5uaN5HvD/kkfU0Fh681Q3aS1zHYiSz3QJgCZi+mc75V9d0QWWa4YmxnGrSc5BBHSdVbFnX/ACZlDZH2Z1gWm+fbNRXc2GBuLKTMZzFuyqAJy+uZT1mgNYcUm8i9rnXqtynaYVsTbj4aQ/IT1NR/wDVilavaJ8QH4WMH9jSfMlYyV5c5XJstFaLIuSMoJ8oS5DifIJ6RsZ6c8z6Kp0bz2HzWH0bQqFNuPkhYA2DYnDN1IHjUp+gdKdtBoIx1KJF7A1Dpb3GGLrARCZpRbRpJ/JubSpgXqyfyse7/ACwrq+zHsAs6o7mxjf8Au5cBpV+z1S02XT6bKoTt9GpQ5Rqz2LazAw+B1yPv2iD+XeD2XG2zaGYvcB5ud6CFl/r3OBgajyBVYeIPvF8iDbDEGbZzMX5rrzZoyVRF6bBwbb7/AGbWV4g4GDdZ5/ycVc3ajmAwR+Sn5HDK5xqmwzA+inY7coRnT0d8a8naoe0XBr24jhcBItHhII5apne0TxOlzK5DH38uUpftVeOakJQhbaSN76me7Md/5WZz1WysAfFJG5UmolLLZty8Fznqpz1W56Rz1NzIykO5yqc5KXJC5TcyEhnOVbnJXOSErLkc8hw+N2UZSklRKiVlyMUPiRiSSiUuQUaazWgMLXBxIlwiMJ3KiUkolNyTelQUWgaqa1VzjLjJVTSttanTDGFjsTiPE0+ENO4fi+rLa3HX8h0zGATl/HdbNkcHA08zdzMwMQHibvuB3aN6w1HHXtlHRQx5BBBIIMgjMEZEKalxdobjaN1Njn2aCY0AsOyWoZiN5A5Q0BaW7S5s1KZwh7XBwFodYPbykhw4EKjYxL6Y/wDo2eRLZ9F1OacbRhXbso9oumrU/U4dGmB6LK0Spe/ESTmSSet1MQI11+S4LstVIhz8o0yU1CLEAARx6pCmYJ8OunNZtvQxJQn+z3x5oRTAgXHL0+vVS2IN4Ogve/kkaUOCDSLAVcw25+n16LMxWsctRNJmyiDBAyMT0WltMi+710+fRN7KYHOAK9X/AP0PsanQZTIqNOJuI4fEQTodMviuuELXZePVnjHKGlNXeNB3v/Czl6jJpMfI20aoBGIyO6is8ScOSx4kYk/c1QXuzR9olL1bt22NeW4GBsNgxF1jLkNpOk7NTaTpO/stL0peqy5KXLLkRlIsLkhclLkhclyJSY5ckJUEpZS5E2NKJSyiVnkZoaVEpZQiwoaVEqESlY6JlMDcTlrqq0SjkFFmPTMcfqyiQeHmEkoRyHRu2JwM0yR4/dM2Dh7vKZLT+oHRPsRILjq1rzlkRSfE9QFzSu3RY6oyrUaLlkPOQDsTZcf1NJPE4gtwk3aMySWzjttftzW3Ynsh+MOJIOGCB4tJ3hYnRr0GvVR9odLevdKMuLs1KNqh6gE37Zn+EjnQfCbTY5EpFCw5b0NIuwzec+KFShF/QyUwuOXokTMMEbteWqSAbIc/T69EMcoeZJjLTlolTvYG+htEGRZaq3tFzhBJK44cmxqscskqTNKTND6iTEqZRKm5Wa5F4epxqiUYkrHyLsSMSpxIxJ2LkW4lBcqpRKVmWxy5QSllEosyyZUSolEosRMolRKJSsVEyhRKJRY6JQllEosKGlRKhCQUTKgqFJKBgtuze06jKdSk10Mf7wgGbRY6SLLFKEJtdCaT7IQhCBghCEACEIQAIQhAApQhAAhCEwBShCACUShCACUIQgCEIQgAQhCQAoQhAAhCEACEIQAIQhAAhCEACEIQAIQhAAhCEACEIQAIQhAH/9k=);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    position: static;
}
#contenupricipal p{
	color: #141b1b;
	text-align: center;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 5px;
	box-sizing: content-box;
	background-color:  rgba(215, 239, 255, 0.5);
	font-family: system-ui  ;

}
